@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300;1,400&family=Oxygen&family=Roboto&display=swap');
*{
  font-family: 'Merriweather', serif;
  font-family: 'Oxygen', sans-serif;
  font-family: 'Roboto', sans-serif;
  
}
#main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#github-container {
  display: flex;
  gap: 20px;;
}

ul {
  list-style: none;
}

.userName{
  border-radius: 25px;
  padding : 10px;
  text-align: center;
  background-color:rgba(128, 128, 128, 0.171);
  padding : 10px;
  margin-bottom: 10px;
  
}

.sizeImg{
  height: 100px;
  width: 100px;
  border-radius: 50px;
}




